body {
  background-image: url("../imgs/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

#grass {
  height: 3rem;
}

#reset-game {
  width: 3rem;
}

#timertoggle {
  width: 3rem;
}

#question {
  width: 3rem;
  background-color: rgba(112, 149, 173, 0.8);
}

#datatoggle {
  width: 3rem; /* Set the width of the datatoggle image */
  height: auto; /* Maintain aspect ratio */
}

#game-board {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  margin-top: 1rem;
  background-image: url("../imgs/grass.webp");
  background-size: 20% 20%;
}

.cell {
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  border: 1px solid #ccc;
}

#game-controls {
  width: 100%;
  max-width: 700px;
  padding: 1rem;
  background-color: rgba(112, 149, 173, 0.8);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgba(130, 180, 212, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close-btn {
  color: red;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
}

#difficulty-select {
  border-radius: 8px;
  background-color: rgb(196, 240, 245);
  position: absolute;
  height: 60%;
  left: 1rem;
}
