body {
  background-image: url("../imgs/background.webp");
  background-size: cover;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

#grass {
  height: 3rem;
}

#reset-game {
  width: 3rem;
}

#timertoggle {
  width: 3rem;
}

#question {
  width: 3rem;
  background-color: rgba(112, 149, 173, 0.8);
}

#datatoggle {
  width: 3rem; /* Set the width of the datatoggle image */
  height: auto; /* Maintain aspect ratio */
}

#game-board {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  margin-top: 1rem;
  background-image: url("../imgs/grass.webp");
  background-size: 16% 16%;
}

.cell {
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  border: 1px solid #ccc;
}

#game-controls {
  width: 100%;
  max-width: 700px;
  padding: 1rem;
  background-color: rgba(112, 149, 173, 0.8);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
}

#difficulty-select {
  border-radius: 8px;
  background-color: rgb(196, 240, 245);
  position: absolute;
  height: 60%;
  left: 1rem;
}