body {
  background-image: url("../imgs/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
}

#reset-game img {
  width: 3rem;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin-top: 1rem;
  background-image: url("../imgs/grass.webp");
  background-repeat: repeat;
  background-size: 10% 10%;
  border: 1.5rem solid #6b533e;
}

.cell {
  width: 4rem;
  height: 4rem;
  display: inline-block;
}